
ul.menuBar {
    list-style: none; 
    padding: 2px 0px; 
    margin: 0; 
    border-bottom: 1px #808080 solid;
}

    ul.menuBar li {
        display: inline; 
        padding: 2px 10px;
    }

        ul.menuBar li:hover {
            background: #BAE7FF !important;
            cursor: pointer;
        }

        ul.menuBar li img {
            vertical-align: middle;
        }

